.popup-in-modal {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0
}
.jsl-qrcode-block {
    position:relative;
    width:2.9rem;
    height:3.64rem;
    background-position:50%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center
}
.jsl-qrcode-block-qrcode {
    display:inline-block;
    background-color:#fff;
    margin-top:.64rem;
    width:2.3rem;
    height:2.3rem;
    border-radius:.04rem
}
@-webkit-keyframes hide {
    0% {
        position:fixed;
        right:50%;
        bottom:50%;
        -webkit-transform:translate(50%,50%) scale(1);
        transform:translate(50%,50%) scale(1)
    }
    to {
        position:fixed;
        right:.39rem;
        bottom:1.9rem;
        bottom:calc(1.9rem + constant(safe-area-inset-bottom));
        bottom:calc(1.9rem + env(safe-area-inset-bottom));
        -webkit-transform:translate(50%,50%) scale(.2);
        transform:translate(50%,50%) scale(.2)
    }
}
@keyframes hide {
    0% {
        position:fixed;
        right:50%;
        bottom:50%;
        -webkit-transform:translate(50%,50%) scale(1);
        transform:translate(50%,50%) scale(1)
    }
    to {
        position:fixed;
        right:.39rem;
        bottom:1.9rem;
        bottom:calc(1.9rem + constant(safe-area-inset-bottom));
        bottom:calc(1.9rem + env(safe-area-inset-bottom));
        -webkit-transform:translate(50%,50%) scale(.2);
        transform:translate(50%,50%) scale(.2)
    }
}
@-webkit-keyframes show {
    0% {
        position:fixed;
        right:.39rem;
        bottom:1.9rem;
        bottom:calc(1.9rem + constant(safe-area-inset-bottom));
        bottom:calc(1.9rem + env(safe-area-inset-bottom));
        -webkit-transform:translate(50%,50%) scale(.2);
        transform:translate(50%,50%) scale(.2)
    }
    to {
        position:fixed;
        right:50%;
        bottom:50%;
        -webkit-transform:translate(50%,50%) scale(1);
        transform:translate(50%,50%) scale(1)
    }
}
@keyframes show {
    0% {
        position:fixed;
        right:.39rem;
        bottom:1.9rem;
        bottom:calc(1.9rem + constant(safe-area-inset-bottom));
        bottom:calc(1.9rem + env(safe-area-inset-bottom));
        -webkit-transform:translate(50%,50%) scale(.2);
        transform:translate(50%,50%) scale(.2)
    }
    to {
        position:fixed;
        right:50%;
        bottom:50%;
        -webkit-transform:translate(50%,50%) scale(1);
        transform:translate(50%,50%) scale(1)
    }
}
.jsl-qrcode-popup {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    opacity:1;
    background-color:rgba(0,0,0,.8)
}
.jsl-qrcode-popup-close {
    width:.3rem;
    height:.3rem;
    position:absolute;
    top:-.66rem;
    right:-.12rem;
    background-image:url(../images/close.png);
    background-repeat:no-repeat;
    background-position:50%;
    background-size:contain;
    z-index:10100
}
.jsl-qrcode-popup-inner {
    text-align:center;
    width:2.9rem;
    height:3.64rem;
    position:fixed;
    right:50%;
    bottom:50%;
    -webkit-transform:translate(50%,50%) scale(1);
    transform:translate(50%,50%) scale(1)
}
.jsl-qrcode-popup-inner-qr-block {
    width:100%;
    height:100%;
}
.jsl-qrcode-popup-big-qrcode {
    position:fixed;
    left:0;
    top:0;
    display:block;
    width:100%;
    height:150%;
    z-index:10001;
    opacity:.01
}
.jsl-qrcode-popup.hide {
    background-color:transparent
}
.jsl-qrcode-popup.hide .jsl-qrcode-popup-inner {
    -webkit-animation:hide .2s both linear;
    animation:hide .2s both linear
}
.jsl-qrcode-popup.show {
    background-color:rgba(0,0,0,.8)
}
.jsl-qrcode-popup.show .jsl-qrcode-popup-inner {
    -webkit-animation:show .2s both linear;
    animation:show .2s both linear
}
.mlp-push-toptab,
.mlp-push-toptab .mlp-push-toptab-fixed {
    position:relative;
    width:100%;
    height:.42rem
}
.mlp-push-toptab .mlp-push-toptab-fixed {
    max-width:3.75rem;
    overflow:hidden;
    z-index:100
}
.mlp-push-toptab .mlp-push-toptab-fixed .common-toptab-content,
.mlp-push-toptab .mlp-push-toptab-fixed .toptab-content,
.mlp-push-toptab .mlp-push-toptab-fixed .toptab-content[data-theme="1"] {
    height:.51rem;
    font-size:.16rem;
    color:#999;
    letter-spacing:-.0154rem;
    padding-left:.1rem;
    white-space:nowrap;
    text-align:center;
    overflow-x:auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
}
.mlp-push-toptab .mlp-push-toptab-fixed .toptab-content {
    background:#fff;
    color:#999
}
.mlp-push-toptab .mlp-push-toptab-fixed .toptab-content[data-theme="1"] {
    background:#d4074d;
    color:hsla(0,0%,100%,.8)
}
.mlp-push-toptab .mlp-push-toptab-item {
    margin-right:.2rem;
    height:.42rem;
    line-height:.42rem;
    text-align:center;
    position:relative
}
.mlp-push-toptab .mlp-push-toptab-item.active-tab-item {
    color:#ff3935
}
.mlp-push-toptab .mlp-push-toptab-item.active-tab-item:after {
    content:"";
    width:.29rem;
    height:.02rem;
    background:#ff3935;
    border-radius:1px;
    position:absolute;
    bottom:0;
    left:.01rem
}
.mlp-push-toptab .mlp-push-toptab-twenlve {
    display:inline-block;
    position:relative;
    width:.7rem;
    height:.32rem;
    border-radius:.16rem;
    line-height:.32rem;
    margin-right:.1rem;
    background:-webkit-linear-gradient(right,#ee6774,#ee4965);
    background:linear-gradient(-90deg,#ee6774,#ee4965);
    vertical-align:bottom
}
.mlp-push-toptab .mlp-push-toptab-twenlve-img {
    width:.7rem;
    height:.32rem;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAeCAMAAACxDwjlAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABmUExURUdwTP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////26W6sgAAAAhdFJOUwDS8+8tjfwVsaQQHMW7Cmzk3XoGlulZRFNlAj6qJ4cyTRy1zjMAAAHbSURBVHjatZTbmoMgDIQRLRao52pb7Snv/5ILzLeoK1p7sXNFSPwbwlDGmC6kvDAvVZ9aUR67hgWVFvL+HsO8yEpRZrfcRbdMkFFnlohjgqohgOpQXfzG15ag0rWTIagYdCAvcV3C7kjxHmE9qb6ZuCBIoS+aiL8WsCtBj1kEmuktFVinbiAclAibpwUsRwElLihn1VVjzhmXHla7ZNez/Onyy7FJXhJgOIYQRc+a2uHMWHQjPSzCntXZLg8LmM4PHpbhLnwX0q5GmBivQpNRxpYaYbZHjs3cfhnNYCo2kgziSG/AWlOdMaiy9pjA5lIfOpurWXYGTSx03gmDwe5rsIu7n8tO2IvjFYVhSTw9ZXKWwxZMu0cV9WGYdmYS+KTX3Kxf6zAVEY4RhOXIFtOBPFdhTUYoCMKQHaff2ahehUnC9IMwmJ+O/bTRSq3BnnjGTRhWI5tPWn1fVfgC8EDxWyFYhyzij9aAhVrNgrDBZeMH2wVLuP/jC8AezmBiYDtg3kJvFoSpiuDlXTBvoTDsSLDBPhiu/cDCsMEbbA8s8QYLwu7OFDr9ldqCobFIp15zWExzRZuwiuZqZ7CUvoH1YhP2+Aqm6N9h9clIWQ8e/yh0r4Wt1tZlf6vlD0m2Zz16wXRpAAAAAElFTkSuQmCC");
    background-repeat:no-repeat;
    background-size:60%;
    background-position:50%
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] {
    display:inline-block;
    margin-top:.05rem;
    margin-right:.1rem;
    height:.32rem;
    width:.7rem;
    background:-webkit-linear-gradient(right,#ee6774,#ee4965);
    background:linear-gradient(-90deg,#ee6774,#ee4965);
    border-radius:.16rem;
    line-height:.32rem;
    text-align:center;
    position:relative
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-1 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-1:before {
    content:"\E745";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-2 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-2:before {
    content:"\E611";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-3 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-3:before {
    content:"\E67C";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-4 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-4:before {
    content:"\E610";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-5 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-5:before {
    content:"\E686";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-6 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-6:before {
    content:"\E60E";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-7 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-7:before {
    content:"\E60D";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-8 {
    margin-right:.05rem;
    display:inline-block
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"] .mlp-top-tab-item-8:before {
    content:"\E60F";
    font-size:.14rem;
    color:hsla(0,0%,100%,.8);
    font-family:icomoon;
    line-height:1;
    font-weight:400;
    -webkit-font-smoothing:antialiased
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"].active-tab-item {
    color:#d4074d;
    font-weight:700;
    background:#fff
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"].active-tab-item>i:before {
    color:#d4074d
}
.mlp-push-toptab .mlp-push-toptab-item[data-theme="1"].active-tab-item:after {
    display:none
}
.jsl-bottom-bar {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:20
}
.jsl-bottom-bar .mlp-push-toptab {
    width:3.75rem;
    height:.44rem;
    height:calc(.44rem + constant(safe-area-inset-bottom));
    height:calc(.44rem + env(safe-area-inset-bottom));
    margin:0 auto;
    background-color:#f0f0f0
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed {
    height:.44rem
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content {
    height:100%;
    padding-left:0;
    background-color:#f0f0f0;
    font-size:.14rem;
    color:#777772;
    text-align:left;
    display: flex;
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content .mlp-push-toptab-item {
    height:100%;
    line-height:.44rem;
    margin-right:0;
    padding:0 .15rem
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content .mlp-push-toptab-item:before {
    content:"";
    width:1px;
    height:.14rem;
    background:rgba(28,28,28,.1217);
    border-radius:1px;
    position:absolute;
    top:.15rem;
    left:-.5px
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content .mlp-push-toptab-item:first-child:before {
    content:none
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content .mlp-push-toptab-item.active-tab-item {
    color:#526d4a;
    background-color:#fff
}
.jsl-bottom-bar .mlp-push-toptab .mlp-push-toptab-fixed .toptab-content .mlp-push-toptab-item.active-tab-item:after {
    content:"";
    width:100%;
    height:.04rem;
    background:#42862d;
    border-radius:1px;
    position:absolute;
    bottom:0;
    left:0
}
* {
    border:0;
    -webkit-tap-highlight-color:transparent;
    outline:0;
    margin:0;
    padding:0
}
*,
:after,
:before {
    box-sizing:border-box
}
html {
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%
}
body,
html {
    width:100%;
    height:100%;
    font-family:PingFangSC-Regular,Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial
}
body {
    margin:0
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    vertical-align:baseline;
    border:0 none;
    list-style:outside none none
}
em,
i {
    font-style:normal
}
ol,
ul {
    list-style:none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display:block
}
audio,
canvas,
progress,
video {
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]) {
    display:none;
    height:0
}
[hidden],
template {
    display:none
}
a {
    color:#333;
    background-color:transparent;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
a:active,
a:hover,
a:visited {
    text-decoration:none;
    outline:0
}
abbr[title] {
    border-bottom:1px dotted
}
b,
strong {
    font-weight:700
}
dfn {
    font-style:italic
}
h1 {
    font-size:2em;
    margin:.67em 0
}
mark {
    background:#ff0;
    color:#000
}
small {
    font-size:80%
}
sub,
sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup {
    top:-.5em
}
sub {
    bottom:-.25em
}
img {
    border:0;
    max-width:100%;
    width:auto;
    height:auto;
    vertical-align:top
}
svg:not(:root) {
    overflow:hidden
}
figure {
    margin:1em 40px
}
hr {
    box-sizing:content-box;
    height:0
}
pre {
    overflow:auto
}
code,
kbd,
pre,
samp {
    font-family:monospace,monospace;
    font-size:1em
}
button,
input,
optgroup,
select,
textarea {
    color:inherit;
    font:inherit;
    margin:0;
    resize:none
}
button {
    overflow:visible
}
button,
select {
    text-transform:none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],
html input[disabled] {
    cursor:default
}
button::-moz-focus-inner {
    border:0;
    padding:0
}
input {
    line-height:normal
}
input::-moz-focus-inner {
    border:0;
    padding:0
}
input[type=checkbox],
input[type=radio] {
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height:auto
}
input[type=search] {
    -webkit-appearance:textfield;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}
fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend {
    border:0;
    padding:0
}
textarea {
    overflow:auto
}
optgroup {
    font-weight:700
}
table {
    border-collapse:collapse;
    border-spacing:0
}
td,
th {
    padding:0
}
@media only screen and (max-width:480px) {
    html {
        font-size:128px
    }
}
@media only screen and (max-width:414px) {
    html {
        font-size:110.4px
    }
}
@media only screen and (max-width:412px) {
    html {
        font-size:109.86667px
    }
}
@media only screen and (max-width:400px) {
    html {
        font-size:106.66667px
    }
}
@media only screen and (max-width:393px) {
    html {
        font-size:104.8px
    }
}
@media only screen and (max-width:375px) {
    html {
        font-size:100px
    }
}
@media only screen and (max-width:360px) {
    html {
        font-size:96px
    }
}
@media only screen and (max-width:345px) {
    html {
        font-size:92px
    }
}
@media only screen and (max-width:320px) {
    html {
        font-size:85.33333px
    }
}
html {
    -webkit-text-size-adjust:none;
    font-size:26.66667vw
}
@media only screen and (min-width:768px) {
    html {
        font-size:204.8px
    }
}
#main,
body,
html {
    height:100%;
    width:100%
}
body,
html {
    margin:0;
    padding:0;
    font-family:PingFangSC-Regular,STHeiti STXihei,Microsoft YaHei,Microsoft JhengHei,miui
}
.mobile-container {
    margin-left:auto;
    margin-right:auto;
    max-width:768px;
    background-color:#f2f2f2;
    color:#666;
    font-size:.12rem;
    line-height:1.4
}
.native-scroll {
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
@media only screen and (min-device-height:812px) {
    #go-top {
        bottom:calc(.76rem + constant(safe-area-inset-bottom));
        bottom:calc(.76rem + env(safe-area-inset-bottom))
    }
    .top-button-hide {
        bottom:calc(-.76rem + constant(safe-area-inset-bottom));
        bottom:calc(-.76rem + env(safe-area-inset-bottom))
    }
    .top-button-show {
        bottom:calc(.76rem + constant(safe-area-inset-bottom));
        bottom:calc(.76rem + env(safe-area-inset-bottom))
    }
    .container {
        padding-bottom:calc(0px + constant(safe-area-inset-bottom));
        padding-bottom:calc(0px + env(safe-area-inset-bottom))
    }
}
#ssr-wrapper {
    background-color:#f2f2f2;
    width:100%;
    min-height:100%;
    -webkit-overflow-scrolling:touch
}
.mobile-container.jsl-container {
    position:relative;
    width:100%;
    height:auto;
    font-size:.12rem;
    line-height:1.5;
    padding-bottom:calc(0px + constant(safe-area-inset-bottom));
    padding-bottom:calc(0px + env(safe-area-inset-bottom))
}
.mobile-container .goods-list-head {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    left:0;
    width:100%;
    height:auto;
    background-color:#85c04a;
    color:#fff!important;
    z-index:20
}
.mobile-container .goods-list-head .tr {
    height:auto;
    min-height:.36rem
}
.mobile-container .goods-list-body {
    position:relative;
    width:100%;
    padding-bottom:.45rem;
    font-weight:400;
    word-break:break-all
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr {
    height:.7rem
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr:nth-child(2n) {
    background-color:#f3f9eb
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr:nth-child(odd) {
    background-color:#fff
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td {
    overflow:hidden
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.goods-title-col {
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    align-items:flex-start;
    text-align:left;
    padding:0 .1rem
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.goods-title-col .coupon {
    position:relative;
    display:inline-block;
    max-width:100%;
    height:.16rem;
    line-height:.15rem;
    overflow:hidden;
    color:#ff4338;
    border:1px solid #ff4338;
    border-radius:.02rem;
    padding:0 .04rem;
    font-size:.11rem;
    margin-bottom:.03rem
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.goods-title-col .goods-name {
    display:block;
    max-height:.36rem;
    overflow:hidden
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.goods-title-col .goods-name.single {
    max-height:.18rem
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.pic-col .pic {
    display:block;
    width:.54rem;
    height:.54rem
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td.min-price-col {
    font-weight:700
}
.mobile-container .goods-list-body .infinite-list-wrapper .tr .td a {
    color:#00e;
    text-decoration:underline
}
.mobile-container .tr {
    -webkit-box-orient:horizontal;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    align-items:stretch;
    width:100%
}
.mobile-container .tr,
.mobile-container .tr .td {
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -webkit-flex-wrap:nowrap;
    flex-wrap:nowrap
}
.mobile-container .tr .td {
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    flex-grow:0;
    vertical-align:middle;
    border-right:1px solid #ececec;
    border-bottom:1px solid #ececec;
    text-align:center;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center
}
.mobile-container .tr .td:last-child {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    flex-grow:1;
    border-right:none
}
.mobile-container .tr .td.pic-col {
    width:.7rem
}
.mobile-container .tr .td.goods-title-col {
    width:1.2rem
}
.mobile-container .tr .td.max-price-col {
    width:.54rem
}
.mobile-container .tr .td.min-price-col {
    width:.66rem
}
.mobile-container .qrcode-icon {
    width:2.9rem;
    height:3.64rem;
    position:fixed;
    right:.39rem;
    bottom:1.9rem;
    bottom:calc(1.9rem + constant(safe-area-inset-bottom));
    bottom:calc(1.9rem + env(safe-area-inset-bottom));
    -webkit-transform:translate(50%,50%) scale(.2);
    transform:translate(50%,50%) scale(.2)
}
.mobile-container .qrcode-icon.hide {
    display:none
}
.mobile-container .watermark-container {
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:10;
    pointer-events:none;
    background-size:50% auto
}
